
img {
    width: 5px;
    height: 5px;
}
ol {
    width: 300px;
    background: antiquewhite;
    padding: 10px;
    margin: auto;
    list-style: square outside;
    box-sizing: border-box;
}
ol li{
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman";
    background: cadetblue;
    padding: 5px;
    margin-left: 35px;
}
ul {

    box-sizing: border-box;
    width: 300px;
    background: chocolate;
    padding: 10px;
    list-style: square inside url("../image/info.png");
}

ul li {
    background: white;
    padding: 5px;

}

