* {
    margin: 0;
    padding: 0;
}

.about-detail {
    width: 100%;
    text-align: center;
}

.about-detail h1.title {
    text-align: center;
    margin: 30px;
}

.about-detail p.detail {
    text-align: left;
    line-height: 170%;
    margin: 20px;
}

.about-detail map area {
    width: 500px;
    height: auto;
}