body {
    background: antiquewhite;
}
h1 {
    color: #ff0000;
    font-family: "Times New Roman";
    margin: 20px 0px;
    border-style: dotted dashed solid double;
    border-color: red;
    border-width: 2px;
}